<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Delivery</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.reactjs.native.example.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>VNARIAL.TTF</string>
		<string>VNBLACK.TTF</string>
		<string>VNARABIA.TTF</string>
		<string>VNARIAL.otf</string>
		<string>ObelixPro-Broken-cyr.ttf</string>
		<string>FallingSky.otf</string>
		<string>FallingSkyBd.otf</string>
		<string>FallingSkyBd+.otf</string>
		<string>FallingSkyBd+Obl.otf</string>
		<string>FallingSkyBdObl.otf</string>
		<string>FallingSkyBlk.otf</string>
		<string>FallingSkyBlkObl.otf</string>
		<string>FallingSkyCond.otf</string>
		<string>FallingSkyCondObl.otf</string>
		<string>FallingSkyCondOu.otf</string>
		<string>FallingSkyCondOuObl.otf</string>
		<string>FallingSkyExBd.otf</string>
		<string>FallingSkyExBdObl.otf</string>
		<string>FallingSkyExt.otf</string>
		<string>FallingSkyExtObl.otf</string>
		<string>FallingSkyExtOu.otf</string>
		<string>FallingSkyExtOuObl.otf</string>
		<string>FallingSkyLight.otf</string>
		<string>FallingSkyLightObl.otf</string>
		<string>FallingSkyMed.otf</string>
		<string>FallingSkyMedObl.otf</string>
		<string>FallingSkyObl.otf</string>
		<string>FallingSkyOu.otf</string>
		<string>FallingSkyOuObl.otf</string>
		<string>FallingSkySeBd.otf</string>
		<string>FallingSkySeBdObl.otf</string>
		<string>LiberationSans-Bold.ttf</string>
		<string>LiberationSans-BoldItalic.ttf</string>
		<string>LiberationSans-Italic.ttf</string>
		<string>LiberationSans-Regular.ttf</string>
		<string>DMFCantellblack.ttf</string>
		<string>DMFCantellbold.ttf</string>
		<string>DMFCantelllight.ttf</string>
		<string>DMFCantellmedium.ttf</string>
		<string>DMFCantellregular.otf</string>
		<string>DMFCantellthin.ttf</string>
		<string>Motiva-Sans-Bold.otf</string>
		<string>Motiva-Sans-Light.otf</string>
		<string>Motiva-Sans.otf</string>
	</array>
</dict>
</plist>
